body {
    margin: 0;
    padding: 0;
}
:root {
    --web-view-ids: Home;
}
#Home * {
    margin: 0;
    padding: 0;
}
#Home {
    position: absolute;
    box-sizing: border-box;
    background: #E5E5E5;
    width: 1920px;
    height: 8031px;
    background-color: rgba(222,227,227,1);
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 1;
    --web-view-name: Home;
    --web-view-id: Home;
    --web-enable-deep-linking: true;
}
#c_o_runeterra_zaun_04 {
    opacity: 1;
    fill: url(#c_o_runeterra_zaun_04_A0_Rectangle_2_pattern);
}
.c_o_runeterra_zaun_04 {
    position: absolute;
    overflow: visible;
    width: 1961.779px;
    height: 1080px;
    left: -21px;
    top: 3872px;
}
#runeterra_noxus_07 {
    opacity: 1;
    fill: url(#runeterra_noxus_07_A0_Rectangle_4_pattern);
}
.runeterra_noxus_07 {
    position: absolute;
    overflow: visible;
    width: 2430.95px;
    height: 1080px;
    left: -255px;
    top: 5961px;
}
#runeterra_demacia_01 {
    opacity: 1;
    fill: url(#runeterra_demacia_01_A0_Rectangle_6_pattern);
}
.runeterra_demacia_01 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 1081px;
    left: 0px;
    top: 1669px;
}
#runeterra_ionia_01 {
    opacity: 1;
    fill: url(#runeterra_ionia_01_A0_Rectangle_8_pattern);
}
.runeterra_ionia_01 {
    position: absolute;
    overflow: visible;
    width: 2336px;
    height: 1081px;
    left: -208px;
    top: 0px;
}
#Navbar {
    opacity: 0;
    position: absolute;
    width: 1920px;
    height: 82px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#____1 {
    opacity: 1;
    fill: rgba(112,112,112,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.____1 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 82px;
    left: 0px;
    top: 0px;
}
#navbotton {
    opacity: 1;
    position: absolute;
    width: 43px;
    height: 36px;
    left: 17.5px;
    top: 23px;
    overflow: visible;
}
#_________1 {
    opacity: 1;
    position: absolute;
    width: 43px;
    height: 36px;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
#_________1_0 {
    opacity: 1;
    position: absolute;
    width: 43px;
    height: 0px;
    left: 0px;
    top: 0.5px;
    overflow: visible;
}
#__1 {
    opacity: 1;
    fill: transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.__1 {
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 43px;
    height: 2px;
}
#_________1_1 {
    opacity: 1;
    position: absolute;
    width: 43px;
    height: 0px;
    left: 0px;
    top: 16.5px;
    overflow: visible;
}
#__1_A0_Line_2 {
    opacity: 1;
    fill: transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.__1_A0_Line_2 {
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 43px;
    height: 2px;
}
#_________1_2 {
    opacity: 1;
    position: absolute;
    width: 43px;
    height: 0px;
    left: 0px;
    top: 32.5px;
    overflow: visible;
}
#__1_A0_Line_3 {
    opacity: 1;
    fill: transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.__1_A0_Line_3 {
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 43px;
    height: 2px;
}
#UECeS_logo {
    opacity: 1;
    position: absolute;
    width: 312px;
    height: 312px;
    left: 519px;
    top: 296px;
    overflow: visible;
}
#UECeS_logo_A0_Rectangle_10 {
    opacity: 1;
    fill: url(#UECeS_logo_A0_Rectangle_11_pattern);
}
.UECeS_logo_A0_Rectangle_10 {
    position: absolute;
    overflow: visible;
    width: 312px;
    height: 312px;
    left: 0px;
    top: 0px;
}
#UECeSports {
    opacity: 1;
    filter: drop-shadow(0px 3px 6px rgba(112, 112, 112, 1));
    position: absolute;
    left: 831px;
    top: 407px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 476px;
    white-space: nowrap;
    text-align: left;
    font-family: Agency FB;
    font-style: normal;
    font-weight: normal;
    font-size: 128px;
    color: rgba(79,194,248,1);
}
#___1 {
    opacity: 1;
    fill: rgba(112,112,112,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.___1 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 979.894px;
    left: 0px;
    width: 1920px;
    height: 792.515px;
}
#Section {
    opacity: 1;
    position: absolute;
    width: 233px;
    height: 84px;
    left: 164px;
    top: 1081px;
    overflow: visible;
}
#ABOUT_US {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 234px;
    white-space: nowrap;
    text-align: left;
    font-family: Agency FB;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    color: rgba(79,194,248,1);
}
#TextBox {
    opacity: 1;
    position: absolute;
    width: 1592px;
    height: 382px;
    left: 164px;
    top: 1185px;
    overflow: visible;
}
#____2 {
    opacity: 1;
    fill: rgba(222,227,227,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.____2 {
    position: absolute;
    overflow: visible;
    width: 1592px;
    height: 382px;
    left: 0px;
    top: 0px;
}
#___2 {
    opacity: 1;
    fill: rgba(112,112,112,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.___2 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 4885.195px;
    left: 0px;
    width: 1920.125px;
    height: 1140.946px;
}
#Section_A0_SymbolInstance_6 {
    opacity: 1;
    position: absolute;
    width: 151px;
    height: 84px;
    left: 164px;
    top: 5011px;
    overflow: visible;
}
#TEAMS {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 152px;
    white-space: nowrap;
    text-align: left;
    font-family: Agency FB;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    color: rgba(79,194,248,1);
}
#______1 {
    opacity: 1;
    position: absolute;
    width: 1592px;
    height: 475.379px;
    left: 164px;
    top: 5218.23px;
    overflow: visible;
}
#____2_A0_Rectangle_13 {
    opacity: 1;
    fill: rgba(222,227,227,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.____2_A0_Rectangle_13 {
    position: absolute;
    overflow: visible;
    width: 741px;
    height: 165px;
    left: 0px;
    top: 0px;
}
#____2_A0_Rectangle_14 {
    opacity: 1;
    fill: rgba(222,227,227,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.____2_A0_Rectangle_14 {
    position: absolute;
    overflow: visible;
    width: 741px;
    height: 165px;
    left: 851px;
    top: 0px;
}
#____2_A0_Rectangle_15 {
    opacity: 1;
    fill: rgba(222,227,227,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.____2_A0_Rectangle_15 {
    position: absolute;
    overflow: visible;
    width: 741px;
    height: 165px;
    left: 0px;
    top: 310.379px;
}
#____2_A0_Rectangle_16 {
    opacity: 1;
    fill: rgba(222,227,227,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.____2_A0_Rectangle_16 {
    position: absolute;
    overflow: visible;
    width: 741px;
    height: 165px;
    left: 851px;
    top: 310.379px;
}
#___3 {
    opacity: 1;
    fill: rgba(112,112,112,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.___3 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 6946.421px;
    left: -17.058px;
    width: 1937.058px;
    height: 860.518px;
}
#Section_A0_SymbolInstance_7 {
    opacity: 1;
    position: absolute;
    width: 211px;
    height: 84px;
    left: 164px;
    top: 7041px;
    overflow: visible;
}
#CONTACT {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 212px;
    white-space: nowrap;
    text-align: left;
    font-family: Agency FB;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    color: rgba(79,194,248,1);
}
#____2_A0_Rectangle_17 {
    opacity: 1;
    fill: rgba(222,227,227,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.____2_A0_Rectangle_17 {
    position: absolute;
    overflow: visible;
    width: 1592px;
    height: 382px;
    left: 164px;
    top: 7209px;
}
#UECeSports____________________ {
    opacity: 1;
    position: absolute;
    left: 58px;
    top: 7909px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 1806px;
    height: 71px;
    text-align: left;
    font-family: Agency FB;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
}
#_2019_UECeSports {
    opacity: 1;
    position: absolute;
    left: 885px;
    top: 7846px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 151px;
    height: 27px;
    text-align: left;
    font-family: Agency FB;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
}
#___4 {
    opacity: 1;
    fill: rgba(112,112,112,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.___4 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 2690.491px;
    left: 0px;
    width: 1920px;
    height: 1277.825px;
}
#Section_A0_SymbolInstance_8 {
    opacity: 1;
    position: absolute;
    width: 132px;
    height: 84px;
    left: 164px;
    top: 2805px;
    overflow: visible;
}
#NEWS {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 133px;
    white-space: nowrap;
    text-align: left;
    font-family: Agency FB;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    color: rgba(79,194,248,1);
}
#____2_A0_Rectangle_18 {
    opacity: 1;
    fill: rgba(222,227,227,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.____2_A0_Rectangle_18 {
    position: absolute;
    overflow: visible;
    width: 1592px;
    height: 765px;
    left: 164px;
    top: 2944px;
}